.blog-container {
  height: 677.77px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  height: 96px;
}
.card {
  width: 1162px;
  height: 477.77px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-box {
  width: 363px;
  height: 458px;
  left: 12px;
}
.card-content {
  display: flex;
  flex-direction: column;
}
.blog {
  font-size: 16px;
  font-weight: 600;
  color: rgba(42, 167, 255, 1);

}
.blog-faq {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 67px;
  color: rgba(27, 60, 116, 1);
  height: 67px;
  margin-top: -10px;
}
.medical-text {
  font-family: Inter;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  color: rgba(119, 130, 157, 1);
}
.text-details {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: rgba(27, 60, 116, 1);
}
.name{
    font-family: Poppins;
font-size: 17px;
font-weight: 500;
line-height: 27px;


    color: rgba(27, 60, 116, 1);

}
